[submodule "docs/themes/harmony"]
	path = docs/themes/harmony
	url = https://gitlab+deploy-token-1409:DnHZh_KXyYKQzg-cwJXq@gitlab.com/consensus.enterprises/misc/hugo-theme-harmony.git
	branch = master
[submodule "lib/gmsl"]
	path = lib/gmsl
	url = https://gitlab.com/consensus.enterprises/gmsl/gmsl.git
