baseUrl: "http://{{ GITLAB_GROUP }}.gitlab.io/{{ GITLAB_PROJECT_NAME }}/"
languageCode: "en-US"
defaultContentLanguage: "en"

title: "{{ GITLAB_PROJECT_NAME }} Docs Site"
theme: "learn"
metaDataFormat: "yaml"
defaultContentLanguageInSubdir: true

params:
  editURL: "https://gitlab.com/{{ GITLAB_GROUP }}/{{ GITLAB_PROJECT_NAME }}/tree/master/docs/content/"
  description: "Description of project docs site"
  author: "Consensus Enterprises"
  showVisitedLinks: true
  disableBreadcrumb: false
  disableNextPrev: false
  disableSearch: false
  disableAssetsBusting: false
  disableInlineCopyToClipBoard: false
  disableShortcutsTitle: false
  disableLanguageSwitchingButton: false
  ordersectionsby: "weight" # or "title"

menu:
  shortcuts:
    - name: "<i class='fa fa-gitlab'></i> Gitlab repo"
      url: "https://gitlab.com/{{ GITLAB_GROUP }}/{{ GITLAB_PROJECT_NAME }}"
      weight: 10
    - name: "<i class='fa fa-bullhorn'></i> Contributors"
      url: "https://gitlab.com/{{ GITLAB_GROUP }}/{{ GITLAB_PROJECT_NAME }}/graphs/master"
      weight: 30

# For search functionality
outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
